<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/reg.css">
    <script src="javascript/validate.js" charset="utf-8" defer></script>
  </head>
  <body>
    <%- include('header'); %>
    <div class="inst">
      <h2>INSTRUCTIONS</h2>
      <ul>
        <% for(let a=0; a<inst.length; a++){ %>
          <li> <%= inst[a] %></li>
        <% } %>
      </ul>
    </div>
    <form class="det" name='stForm' onsubmit="return validate(event)" action="/st/exam" method="post">
      <label id="l1" for="name">Enter name</label>
      <input id="name" type="text" name="name" value="">
      <label id="l2" for="password">Enter password</label>
      <input id="pwd" type="password" name="password" value="">
      <% if(passValid == false){ %>
        <label id="msg">Invalid password</label>
      <% }%>
      <input id="btn" type="submit" name="" value="Submit">
    </form>
  </body>
</html>
